---
- name: Get stats of the created CA private key
  ansible.builtin.stat:
    path: "{{ rhd_temp_path }}/ca-key.pem"
  register: cakey

- name: Get stats of the created CA cert
  ansible.builtin.stat:
    path: "{{ rhd_temp_path }}/ca.pem"
  register: ca

- name: Get stats of the server cert (not running if already exists)
  ansible.builtin.stat:
    path: "{{ rhd_sv_cert }}"
  register: svcert

- name: Get stats of the created server key
  ansible.builtin.stat:
    path: "{{ rhd_sv_key }}"
  register: svkey

- name: Get stats of the created server CSR
  ansible.builtin.stat:
    path: "{{ rhd_sv_csr }}"
  register: svcsr


- name: Proceed with client cert creation if CA and its private key exist
  when: cakey.stat.exists and ca.stat.exists and not svcert.stat.exists
  block:
    - name: Create server key
      ansible.builtin.command: openssl genrsa -out {{ rhd_temp_path }}/server-key.pem 4096
      args:
        creates: "{{ rhd_sv_key }}"
      changed_when: svkey.stat.exists

    - name: Create the server CSR
      ansible.builtin.command: "openssl req -new -subj '/CN={{ rhd_host }}' -sha256 -key {{ rhd_sv_key }} -out {{ rhd_sv_csr }}"
      args:
        creates: "{{ rhd_sv_csr }}"
      register: out
      changed_when: svcsr.stat.exists

    - name: Add alt name to extfile
      ansible.builtin.lineinfile:
        dest: "{{ rhd_server_extfile }}"
        line: "subjectAltName = IP:{{ rhd_host }},IP:127.0.0.1"
        create: yes
        mode: "0755"

    - name: Set the docker daemon's key extended usage attributes to only server authentication
      ansible.builtin.lineinfile:
        dest: "{{ rhd_server_extfile }}"
        line: "extendedKeyUsage = serverAuth"

    - name: Create the server certificate
      ansible.builtin.command:
        argv:
          - openssl
          - x509
          - -req
          - -days
          - "{{ rhd_server_days }}"
          - -sha256
          - -in
          - "{{ rhd_sv_csr }}"
          - -CA
          - "{{ rhd_ca_cert }}"
          - -CAkey
          - "{{ rhd_ca_key }}"
          - -CAcreateserial
          - -out
          - "{{ rhd_sv_cert }}"
          - -extfile
          - "{{ rhd_server_extfile }}"
          - -passin
          - "file:{{ rhd_passfile }}"
        creates: "{{ rhd_sv_cert }}"
      changed_when: svcert.stat.exists
