---
- name: Get stats of the created CA private key
  ansible.builtin.stat:
    path: "{{ rhd_temp_path }}/ca-key.pem"
  register: cakey

- name: Get stats of the created CA cert
  ansible.builtin.stat:
    path: "{{ rhd_temp_path }}/ca.pem"
  register: ca

- name: Proceed with client cert creation if CA and its private key exist
  when: cakey.stat.exists and ca.stat.exists
  block:
    - name: Create server key
      ansible.builtin.command: openssl genrsa -out {{ rhd_temp_path }}/server-key.pem 4096
      register: out
      changed_when: out.rc != 0

    - name: Create the server CSR
      ansible.builtin.command: "openssl req -subj '/CN={{ rhd_host }}' -sha256 -new -key {{ rhd_temp_path }}/server-key.pem -out {{ rhd_temp_path }}/server.csr"
      register: out
      changed_when: out.rc != 0

    - name: Get stats of the created CA CSR
      ansible.builtin.stat:
        path: "{{ rhd_temp_path }}/server.csr"
      register: svcsr


    - name: Add alt name to extfile
      ansible.builtin.lineinfile:
        dest: "{{ rhd_server_extfile }}"
        line: "subjectAltName = IP:{{ rhd_host }},IP:127.0.0.1"
        create: yes
        mode: "0755"

    - name: Set the docker daemon's key extended usage attributes to only server authentication
      ansible.builtin.lineinfile:
        dest: "{{ rhd_server_extfile }}"
        line: "extendedKeyUsage = serverAuth"

    - name: Create the server certificate
      ansible.builtin.command:
        argv:
          - openssl
          - x509
          - -req
          - -days
          - "{{ rhd_server_days }}"
          - -sha256
          - -in
          - "{{ svcsr.stat.path }}"
          - -CA
          - "{{ ca.stat.path }}"
          - -CAkey
          - "{{ cakey.stat.path }}"
          - -CAcreateserial
          - -out
          - "{{ rhd_sv_cert }}"
          - -extfile
          - "{{ rhd_server_extfile }}"
          - -passin
          - "file:{{ rhd_passfile }}"
      register: out
      changed_when: out.rc != 0
