---
- name: Get stats of the created CA private key
  ansible.builtin.stat:
    path: "{{ rhd_ca_key }}"
  register: cakey

- name: Get stats of the created CA cert
  ansible.builtin.stat:
    path: "{{ rhd_ca_cert }}"
  register: ca

- name: Get stats of the created client cert
  ansible.builtin.stat:
    path: "{{ rhd_cl_cert }}"
  register: clcert

- name: Get stats of the created client key
  ansible.builtin.stat:
    path: "{{ rhd_cl_key }}"
  register: clkey

- name: Get stats of the created client CSR
  ansible.builtin.stat:
    path: "{{ rhd_cl_csr }}"
  register: clcsr


- name: Proceed with client cert creation if CA and its private key exist
  when: cakey.stat.exists and ca.stat.exists and not clcert.stat.exists
  block:
    - name: Create client key
      ansible.builtin.command: "openssl genrsa -out {{ rhd_cl_key }} 4096"
      args:
        creates: "{{ rhd_cl_key }}"
      changed_when: clkey.stat.exists

    - name: Create client CSR
      ansible.builtin.command: "openssl req -subj '/CN=client' -new -key {{ rhd_cl_key }} -out {{ rhd_cl_csr }}"
      args:
        creates: "{{ rhd_cl_csr }}"
      changed_when: clcsr.stat.exists

    - name: Add extendedKeyUsage to extfile
      ansible.builtin.lineinfile:
        dest: "{{ rhd_extfile }}"
        line: "extendedKeyUsage = clientAuth"
        create: yes
        mode: "0755"

    - name: Create the client certificate
      ansible.builtin.command:
        argv:
          - openssl
          - x509
          - -req
          - -days
          - "{{ rhd_client_days }}"
          - -sha256
          - -CA
          - "{{ rhd_ca_cert }}"
          - -CAkey
          - "{{ rhd_ca_key }}"
          - -CAcreateserial
          - -extfile
          - "{{ rhd_extfile }}"
          - -passin
          - "file:{{ rhd_passfile }}"
          - -in
          - "{{ rhd_cl_csr }}"
          - -out
          - "{{ rhd_cl_cert }}"
        creates: "{{ rhd_cl_cert }}"
      changed_when: clcert.stat.exists
