---
- name: Get stats of the created CA private key
  ansible.builtin.stat:
    path: "{{ rhd_ca_key }}"
  register: cakey
- name: Get stats of the to be created CA cert
  ansible.builtin.stat:
    path: "{{ rhd_ca_cert }}"
  register: cacert

- name: If the file doesn't already exist, generate the CA
  when: not cakey.stat.exists and not cacert.stat.exists
  block:
    - name: Generate CA keys
      ansible.builtin.command: "openssl genrsa -aes256 -passout file:{{ rhd_passfile }} -out {{ rhd_ca_key }} 4096"
      args:
        creates: "{{ rhd_ca_key}}"

    - name: Generate ca certificate
      ansible.builtin.command:
        argv:
          - openssl
          - x509
          - -new
          - -days
          - "{{ rhd_ca_days }}"
          - -key
          - "{{ rhd_ca_key }}"
          - -sha256
          - -out
          - "{{ rhd_ca_cert }}"
          - -passin
          - "file:{{ rhd_passfile }}"
          - -subj
          - "{{ rhd_ca_cert_subj }}"
        creates: "{{ rhd_ca_cert }}"
