---
- name: Create client key
  ansible.builtin.command: "openssl genrsa -out {{ rhd_temp_path }}/key.pem 4096"
  register: out
  changed_when: out.rc != 0

- name: Create client CSR
  ansible.builtin.command: "openssl req -subj '/CN=client' -new -key {{ rhd_temp_path }}/key.pem -out {{ rhd_temp_path }}/client.csr"
  register: out
  changed_when: out.rc != 0

- name: Add extendedKeyUsage to extfile
  ansible.builtin.lineinfile:
    dest: "{{ rhd_extfile }}"
    line: "extendedKeyUsage = clientAuth"
    create: yes
    mode: "0755"

- name: Create the client certificat-
  ansible.builtin.command: "openssl x509 -req -days {{ rhd_client_cert_lifetime_days }} -sha256 -in {{ rhd_temp_path }}/client.csr -CA {{ rhd_temp_path }}/ca.pem -CAkey {{ rhd_temp_path }}/ca-key.pem -CAcreateserial -out {{ rhd_temp_path }}/cert.pem -extfile {{ rhd_extfile }} -passin file:{{ rhd_passphrase_file }}"
  register: out
  changed_when: out.rc != 0
