---
- name: Generate CA keys
  ansible.builtin.command: "openssl genrsa -aes256 -passout file:{{ rhd_passfile }} -out {{ rhd_temp_path }}/ca-key.pem 4096"
  register: out
  changed_when: out.rc != 0

- name: Get stats of the created CA private key
  ansible.builtin.stat:
    path: "{{ rhd_temp_path }}/ca-key.pem"
  register: cakey

- name: Generate ca certificate
  ansible.builtin.command:
    argv:
      - openssl
      - x509
      - -new
      - -days
      - "{{ rhd_days }}"
      - -key
      - "{{ cakey.stat.path }}"
      - -sha256
      - -out
      - "{{ rhd_ca_cert }}"
      - -passin
      - "file:{{ rhd_passfile }}"
      - -subj
      - "{{ rhd_ca_cert_subj }}"
  register: out
  changed_when: out.rc != 0
