---
- name: Check that docker is installed
  ansible.builtin.command: docker version
  register: docker_check_res
  changed_when: false
  failed_when: docker_check_res.rc != 0

- name: Check that docker has active systemd service
  ansible.builtin.systemd_service:
    state: started
    name: docker

- ansible.builtin.include_tasks: prepare.yml
- ansible.builtin.include_tasks: generate_ca_cert.yml
- ansible.builtin.include_tasks: generate_server_cert.yml
- ansible.builtin.include_tasks: generate_client_cert.yml
- ansible.builtin.include_tasks: organise_cert_files.yml
- ansible.builtin.include_tasks: setup_daemon_authenticated_tcp_listener.yml
  when: rhd_secured_tcp_listener | bool
- ansible.builtin.include_tasks: output.yml
- ansible.builtin.include_tasks: cleanup.yml
